<div id="content">
  <table>
    <tr>
      <th style="color: hsl(180, 78%, 43%);font-size: 40px;text-align:justify;">上板文件</th>

    </tr>
    <tr *ngFor="let proj of projects ">
      <td><input type="checkbox" [(ngModel)]="proj.isChecked" class="form-checkbox h-5 w-5 text-gray-600" checked><span
          class="ml-2 text-white" style="font-size: x-large;">{{proj.appName}}</span></td>
    </tr>
    <tr>
      <td>
        <!-- <input type="button" value="產文件" (click)="getFile()"> -->
        <button (click)="getFile()"
          class="mb-2 md:mb-0 bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500">產文件</button>
      </td>
      <td></td>
    </tr>
  </table>
</div>
